@import "bootstrap";

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  padding: 20px;
}

body {
  background: image_url('crossword.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.navbar {
  background: image_url('cartographer.png');
  box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-inverse .navbar-brand {
  color: #E3E85A;
  font-family: 'chunkfiveroman', sans-serif;
  font-size: 26px;
}

.pagination {
  display: inline_block;
  color: #A19F9F;
  font-family: 'chunkfiveroman', sans-serif;
  font-size: 15px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 8px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  float: left;
  padding: 8px 8px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {background-color: #ddd;}