@import "bootstrap";
@import "font-awesome";

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  padding: 20px;
}

body {
  background: image_url('crossword.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.navbar {
  background: image_url('cartographer.png');
  box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-inverse .navbar-brand {
  color: #E3E85A;
  font-family: 'chunkfiveroman', sans-serif;
  font-size: 26px;
}

.pagination {
  display: flex;
  color: #A19F9F;
  font-family: 'chunkfiveroman', sans-serif;
  font-size: 15px;
  padding: 10px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 8px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.pagination span {
  color: black;
  float: left;
  padding: 8px 8px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.pagination em {
  color: black;
  float: left;
  padding: 8px 8px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.invalid-feedback {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

#map {
  height: 300px;
}

.clear {
  clear: both;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

photo {
  width: 500px;
  height: 500px;
}